*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bodoni Moda', 'Gauon Dodum', 'Jua','Forum', sans-serif,serif;
    /* border: #000 1px solid; */
}
input,
button{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
            height: auto; 
            line-height: normal; 
            padding: .8em .5em;
            outline: none;
            border: none;
            cursor: pointer;
    background-color: #ffffff00;
}
html{
    width: 100vw;height: 100%;
    overflow: hidden;
}
body{
    display: block;
    width: 100%;height: 100%;
    text-align: center;
}
/*  */
header{
    width: 100%;
    display: block;
    padding: 25px;
}
/*  */
.h-m {
    display: flex;
    justify-content: center;
}
.h-m span{
    font-size: 80px;
    padding: 10px;
    font-family: serif;
    color: aliceblue;
    background: #000;
    border-radius: 48%;
}
.h-y{
    color:palevioletred;
    font-weight: bold;
    font-size: 20px;
}

/*  */
main{
    width: 100%;
    height: 100vh;
    display: block;
}
/*  */
nav{
    display: flex;
    /* width: 100%; */
    /* margin: 0 28px; */
    /* padding: 0px 32px ; */
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* border-top: #000 solid 1px; */
    border-bottom: #000 solid 2px;
    /* border-radius: 18px; */
}
.btn-mdw{
    width: 100%;
    height: 32px;
    padding: 32px 0;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #fff; */
    /* border-radius: 18px; */
}
#btn-d{
    border-left: 1px solid rgb(139, 139, 139);
    border-right: 1px solid rgb(139, 139, 139);
}
/* #btn-m{background-color: #bc21bf;}
#btn-d{background-color: #0180ff;}
#btn-w{background-color: #37f5d2ad;} */


/*  */
#slider{
    position: relative;
    /* background-color: tomato; */
}
.pv{
    position: absolute;
    width: 100%;
    height: 100%;
    /* padding: 1em .5em .8em .5em; */
    font-family: 'Gauon Dodum', 'Jua';
}
.pv input{
    border: none;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    padding: 28px;
    outline: none;
    resize: none;
    text-align: center;
    /* overflow-y: scroll; */
}
.pv input::placeholder{
    font-size: 1.5em;
    text-align: center;
}
.pv :is(div, div>div){
    width: 100%;
}
.pv>div>div{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}
.pv>div>div>div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 1rem;
    border-bottom: #000 1px solid;
}

#pvm{
    background-color: #a4c0e9;
    transform: translateX(-100%);
}
#pvd{
    background-color: #e9aab941;
}
#pvw{
    background-color: #69bda4;
    transform: translateX(+100%);
}
/*  */

.delete-btn{
    cursor: pointer;
}
